.git
.env*
node_modules
frontend/node_modules
frontend/dist
frontend/dist-server
frontend/prerender*
build
coverage
.next
.open-next
bakes
fast.yaml
infra/.terraform
infra/*.tfstate*
oaspec/certmanager
oaspec/cosignpolicycontroller
oaspec/flagger
oaspec/flux
oaspec/gatewayapi
oaspec/istio
oaspec/opagatekeeper
oaspec/prometheusoperator
oaspec/rancher
oaspec/spaceliftoperator
oaspec/spaceliftworkerpool
