.note {
    padding: 15px 20px;
    margin: 30px 0;
    text-align: center;
    font-size: 13px;
    line-height: 1.6;
    border-radius: 4px;
    background-color: var(--footer-bg);
    color: var(--footer-text);
}

.note a {
    text-decoration: underline;
}

.note span {
    display: inline-block;
}