.header {
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  background-color: var(--header-bg);
  border-bottom: 1px solid var(--table-border);
}
.wrapper {
  max-width: var(--max-width);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.header h1 {
  margin: 0;
  font-size: 1.5rem;
  display: inline-block;
  position: relative;
}
.header h1 button {
  position: absolute;
  border: none;
  outline: none;
  top: .7em;
  right: -20px;
  width: 15px;
  height: 15px;
  background-color: var(--info-bg);
  color: var(--info-text);
  border-radius: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: background-color .2s;
  cursor: pointer;
}
.header h1 button:focus {
  outline: 2px solid var(--info-focus);
  outline-offset: 1px;
}
.header h1 button:hover {
  background-color: var(--info-focus);
}
.header span {
  font-size: small;
  display: block;
}

@media screen and (max-width: 768px) {
  .header span {
    display: none;
  }
  .header h1 {
    font-size: 1.3rem;
  }
}