.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 200px);
    max-width: var(--max-width);
    margin: 0 auto;
    padding-top: 80px;
}

.intro {
    margin-top: 40px;
    margin-bottom: 20px;
    width: 100%;
}

.intro h3 {
    font-weight: normal;
    font-size: 1.2rem;
    margin-bottom: 0.4rem;
}

.intro code {
    font-weight: bold;
}